.dropdown-menu {
    text-align: center;
    color: black;
}

div.dropdown {
    color: black;
}

a {
    color: black;
}

.btn-light {
    background-color: rgb(175, 224, 228);
    color: black;
    border-color: black;
    float: right;
}