.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.btn-primary {
  background-color: #1A454C;
  color: white;
  border-color: black;
}

.btn-primary:hover {
  background-color: rgb(99, 127, 131);
  border-color: black;
}

.card.border-dark {
  
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75) !important;
}

body {
  background-image: url("https://s3.amazonaws.com/audiotestausta/background3.png");
  height: 130vh;
  background-position: left;
  background-repeat: no-repeat;
  /* background-size: cover; */        
}